@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #202020;
}
/* Logo -------------------------------*/
#logo {
    font-size: 25px;
    font-family: 'Anton';
    color: transparent;
    -webkit-text-stroke: .1px #55C9DF;
}
/* Tab content container --------------*/
.tab-content {
    height: 35rem;
    background-color: #202020;
}
/* Home -----------------------*/
#home-margin {
    margin-top: 5em;
}
#intro {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.card {
    color: #fff;
    box-shadow: 0 5px 31px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    height: 27rem;
    padding: 40px;
}
#name {
    font-size: 4.8rem;
    font-family: 'Anton';
    color: transparent;
    -webkit-text-stroke: 1px #55C9DF;
}
/* Infinite typing animation ---------*/
.type {
    display:inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    font-size: 25px;
}
.type > span {
    display:grid;
    overflow: hidden;
    height: 1.7em;
}
.type span span {
  width:0%;
  max-width:max-content;
  overflow: hidden;
  height:inherit;
  word-break:break-all;
  animation:
    c 0.5s infinite steps(1),  
    t 2s linear infinite alternate,
    m 12s steps(3) infinite;
}
.type span span:before {
    content:" ";
    display:inline-block;
}
@keyframes t{
    50%,100% {width:100%}
}
@keyframes c{
    0%,100%{box-shadow:5px 0 0 #0000}
    50%    {box-shadow:3px 0 0 #E8E6D9}
}
@keyframes m{
    100% {transform:translateY(-300%)}
}
/* All arrows --------------------------*/
#call-to-action-padding {
    padding-left: 2em;
    padding-right: 0;
}
/* Arrow to the right -----In progress-------------------------------*/
.arrow-right span {
    display: inline-block;
    width: 30px; 
    height: 30px; 
    border-right: 5px solid #55C9DF;
    border-bottom: 5px solid #55C9DF;
    border-radius: 3px;
    margin: -10px; 
    animation: scroll 2s infinite;
    padding-top: 10px;
    padding-bottom: 10px;
}
.arrow-right span:nth-child(2) {
    animation-delay: -.2s;
}
.arrow-right span:nth-child(3) {
    animation-delay: -.4s;
}
@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(-20px,-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(-45deg) translate(20px,20px);
    }
}
/* Arrow downward ---------------In progress-------------------------*/
.arrow-down span {
    display: block;
    width: 30px; 
    height: 30px; 
    border-left: 5px solid #55C9DF;
    border-bottom: 5px solid #55C9DF;
    border-radius: 3px;
    margin: -10px; 
    animation: scroll 2s infinite;
    padding-top: 10px;
    padding-bottom: 10px;
}
.arrow-right span:nth-child(2) {
    animation-delay: -.2s;
}
.arrow-right span:nth-child(3) {
    animation-delay: -.4s;
}
@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(-45deg) translate(-20px,-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(-45deg) translate(20px,20px);
    }
}
/* Responsive Design ------------------------------------*/
@media screen and (max-width: 990px) {
    #call-to-action-padding {
        padding-left: 0;
    }
}
/* 412px is the minimum unresponsive mobile screen size */
@media screen and (max-width: 412px) {
    .tab-content {
        height: 45rem;
    }
    #home-margin {
        margin-top: 3em;
    }
    .card {
        padding: 20px;
    }
    #name {
        font-size: 4rem;
    }
    .type {
        font-size: 23px;
    }
    .type > span {
        height: 1.6em;
    }
}
@media screen and (max-width: 320px) {
    .tab-content {
        height: 45rem;
    }
    #home-margin {
        margin-top: 3em;
    }
    .card {
        padding: 20px;
    }
    #name {
        font-size: 4rem;
    }
    .type {
        font-size: 18px;
    }
    .type > span {
        height: 1.5em;
    }
}
@media screen and (max-width: 280px) {
    .tab-content {
        height: 45rem;
    }
    #home-margin {
        margin-top: 3em;
    }
    .card {
        padding: 20px;
    }
    #name {
        font-size: 3.6rem;
    }
    .type {
        font-size: 16px;
    }
    .type > span {
        height: 1.4em;
    }
}