@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #202020;
}
/* Background color */
.tab-content {
    height: 30rem;
    background-color: #202020;
}
/* Home */
.card {
    color: #fff;
    box-shadow: 0 5px 31px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
}


/* Responsive Design */
@media (min-width: 540px) {
    .card {
        height: 15rem;
    }
}