@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #202020;
}
/* Logo -------------------------------*/
#logo {
    font-size: 25px;
    font-family: 'Anton';
    color: transparent;
    -webkit-text-stroke: .1px #55C9DF;
}
/* Tab content container -------*/
#home-tab-pane {
    height: 35rem;
    background-color: #202020;
}
#projects-tab-pane {
    /* In progress? */
    height: 500rem;
}
/* Cards -------------------------------------*/
#card-home {
    color: #fff;
    box-shadow: 0 5px 31px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    height: 27rem;
    padding: 30px;
}
#card-tech-stack {
    color: #fff;
    box-shadow: 0 5px 31px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    height: 25rem;
    width: 30rem;
    padding: 30px;
}
#card-projects {
    color: #fff;
    box-shadow: 0 5px 31px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    height: 20rem;
    width: 23rem;
    padding: 30px;
}
#card-cert {
    color: #fff;
    box-shadow: 0 5px 31px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    height: 20rem;
    width: 30rem;
    padding: 30px;
}
/* Modify "h1" titles -----------------*/
#name {
    font-size: 5rem;
    font-family: 'Anton';
    color: transparent;
    -webkit-text-stroke: 1px #55C9DF;
}
#tech-stack {
    font-size: 4.8rem;
    font-family: 'Anton';
    color: transparent;
    -webkit-text-stroke: 1px #C2C4C8;
}
#projects {
    font-size: 4.8rem;
    font-family: 'Anton';
    color: transparent;
    -webkit-text-stroke: 1px #55C9DF;
}
#cert {
    font-size: 4.8rem;
    font-family: 'Anton';
    color: transparent;
    -webkit-text-stroke: 1px #55C9DF;
}
/* Arrow ------------------------------*/
.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    margin-bottom: -10px;
    border-bottom: 5px solid #55C9DF;
    border-right: 5px solid #55C9DF;
    border-radius: 3px;
    transform: rotate(45deg);
    animation: scroll 2s infinite;
}
.arrow span:nth-child(2) {
    animation-delay: -.2s;
}
.arrow span:nth-child(3) {
    animation-delay: -.4s;
}
@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* Home -----------------------------*/
#home-margin {
    margin-top: 5em;
}
#intro {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* Infinite typing animation ---------*/
.type {
    display:inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    font-size: 25px;
}
.type > span {
    display:grid;
    overflow: hidden;
    height: 1.7em;
}
.type span span {
  width:0%;
  max-width:max-content;
  overflow: hidden;
  height:inherit;
  word-break:break-all;
  animation:
    c 0.5s infinite steps(1),  
    t 2s linear infinite alternate,
    m 12s steps(3) infinite;
}
.type span span:before {
    content:" ";
    display:inline-block;
}
@keyframes t{
    50%,100% {width:100%}
}
@keyframes c{
    0%,100%{box-shadow:5px 0 0 #0000}
    50%    {box-shadow:3px 0 0 #E8E6D9}
}
@keyframes m{
    100% {transform:translateY(-300%)}
}
/* Responsive Design (Home) -----------*/
@media screen and (max-width: 1199.5px) {
    #home-tab-pane {
        height: 51rem;
    }
}
@media screen and (max-width: 506px) {
    #name {
        font-size: 4.5rem;
    }
}
/* (Home) 418.5px is the minimum unresponsive mobile screen size */
@media screen and (max-width: 418.5px) {
    #home-tab-pane {
        height: 52rem;
    }
    #home-margin {
        margin-top: 3em;
    }
    #card-home {
        padding: 20px;
    }
    #name {
        font-size: 4.5rem;
    }
    .type {
        font-size: 23px;
    }
    .type > span {
        height: 1.6em;
    }
}
@media screen and (max-width: 351px) {
    #name {
        font-size: 4rem;
    }
}
@media screen and (max-width: 320px) {
    #home-tab-pane {
        height: 52rem;
    }
    #home-margin {
        margin-top: 3em;
    }
    #card-home {
        padding: 20px;
    }
    #name {
        font-size: 3.5rem;
    }
    .type {
        font-size: 18px;
    }
    .type > span {
        height: 1.5em;
    }
}
@media screen and (max-width: 280px) {
    #home-tab-pane {
        height: 55rem;
    }
    #home-margin {
        margin-top: 3em;
    }
    #card-home {
        padding: 20px;
    }
    .type {
        font-size: 16px;
    }
    .type > span {
        height: 1.4em;
    }
}
/* These section is for specified responsive element resizing only
Refer to the comments ------------------------------------------*/
/* Resizing "Tech Stack" title into smaller font */
@media screen and (max-width: 767.5px) {
    #tech-stack {
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 346px) {
    #card-tech-stack {
        height: 30rem;
    }
}
/* Resizing "Projects" title into smaller font */
@media screen and (max-width: 767.5px) {
    #projects {
        font-size: 3.5rem;
    }
}
/* Resizing "Certificates" title into smaller font */
@media screen and (max-width: 767.5px) {
    #cert {
        font-size: 3.5rem;
    }
}
